
.App {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(235, 207, 197);
  }
  .inputArea
{
    margin: 10px;
    width: 45%;
    height: 40%;
    background-color:rgba(233, 77, 77, 0.5);
    border-radius: 5%;

}
.heading
{
    font-size: 35px;
    font-weight: bold;
    color:black;
    text-align: center;
   
}
.inputArea:hover
{
    
    width: 47%;
    height: 41%;
    box-shadow: 0 4px 8px 0 rgba(236, 55, 55, 0.2), 0 6px 20px 0 rgba(230, 149, 129, 0.19);

}
.field {
    width: 85%;
    height: 56px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    margin: 10px;
    transition: 0.3s all;
    margin-left: 40px;
    font-size: 25px;
  }
.h1
{
    font-weight: bold;
    color:black;
    text-align: center;
    font-size: 19px;
}
  .field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }
.fetchbutton {
    min-width: 150px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    height: 56px;
    cursor: pointer;
    background-color: rgb(54, 202, 165);
    border: none;
    margin-left: 35%;
    color: rgb(15, 66, 54);
    transition: all 0.5s;
  }
  
  .fetchbutton:hover {
    background-color: rgb(40, 209, 209);
  }
.vaccines {
    display: flex;
    flex-wrap: wrap;
  }
  
  .vaccine {
    background: linear-gradient(rgb(255, 102, 102), rgb(255, 159, 128));;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    margin-left: 300px;
    color: black;
    width: 60%;

  }
  
  .vaccine .h1 {
    margin-bottom: 5px;
    font-size: 1rem;
    opacity: 0.7;
    color: black;
    
  }
  
  .vaccine .h1 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: black;
  }
  
  .details {
    text-align: left;
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  